*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header {
    background-color: rgb(3, 33, 130);
}
.container {
    padding: 0 70px;
}
.header_item {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}
.menu ul {
    list-style-type: none;
}
.menu ul li{
    float: left;
}
.menu ul li a {
    color: rgb(248, 245, 245);
    font-size: 20px;
    font-weight: 800;
    padding: 20px 15px;
    text-decoration: none;
}
.img {
    position: relative;
    float: left;
    width:  50px;
    height: 50px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
.bannerbg{
    background:url(img/banner.jpg);
    height: 500px;
    width: 1500;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.btn-primary{
    margin-top: 30px;
    border: none;
    background-color: white;
    padding: 10px 10px;
}
.btn-primary:hover{
    background-color: #f81606;
}
.bannertext{
    font-size: large;
    color: white;
    font-weight: 500;
    padding: 150px 18px;
}
.bannertext button{
    padding: 1px 2px;
}
.newproject{
    font-size:large ;
    font-weight: 500;
    padding: 50px 15px;
    text-align: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(59, 11, 218);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.card button:hover {
    opacity: 1;
  }
.cardall{
    display: flex;
    padding: 10px 240px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}
.acard{
    float: left;
}
.bcard{
    float: center;
}
.ccard{
    float: right;
}
.aboutme{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding: 10px 20px;
    align-items: center;
}
.aboutme h1{
    padding: 30px 20px;
}
.aboutme p{
    padding: 5px 10px;
}
.Develop{
    border: 1px solid grey;
    height: 330px;
    border-radius: 10px;
    border-color: rgb(179, 179, 185);
}
.buton{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius:5px;
    color: white;
    font-weight: 500px;
}
.butonme{
    padding: 20px 40px;
}
.aboutme img{
    width: 50%;
}
.skrilsection{
    text-align: center;
    padding: 20px 18px;
}
.sectionskil2{
    float: right;
}
.mainskill{
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px; 
    text-align:center;
}
.sectionskil{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.skilimg{
    position: relative;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 10px;
}
.frombody{
    padding: 7px 8px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border-radius:5px;
}
.submitbtn{
    text-align: center;
}
.submitbtn input {
    background-color: rgb(10, 139, 11);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form{
    display: block;
}
.submitbtn input:hover{
    background-color: #f81606;
}
.contacth1{
    text-align: center;
    padding:20px 18px;
}
.contactme{
    border-radius: 5px;
    background-color: rgb(196, 190, 190);
    padding: 20px 80px;
    max-width: 600px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inputall input{
    align-items:center;
    width: 100%; 
    padding: 12px;
    border: 1px solid #0925e0; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
.textarea1 textarea{
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(3, 33, 130);
    color: white;
    text-align: center;
  }